.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4D5AE5;
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2E2F42;
}
.nav-link{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404BBF;
  } 
.address-link{
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    color: #434455;
}
.address-link:hover,
.address-link:focus{
    color: #404BBF;
}
.hero{
     background-image: url('../images/hero-bg.jpg');
       background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 600px;
  width: 1440px;
}
.hero-title{
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    color: #FFFFFF; 
}
.hero-button {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
  color: #2e2f42;
}
.features-section-item-name{
    font-weight: 500;
    color: #2E2F42;
}
.features-section-item-text{
    font-weight: 400;
    color: #434455;
}
.team-title{
    font-weight: 700;
    color: #2E2F42;
}